.footer
  .container
    .copyright
      p © {{'footer_copy' | translate}}
      p 2011—2016
    .creator
      | {{'footer_creator' | translate}}
      a(href="http://alfapage.ru/" target="_blank" title="Создание сайтов в Якутске") alfapage