.footer
  .container
    .copyright
      p © Совет по языковой политике РC(Я)
      p 2011—2016
    .creator
      | Сделано в 
      a(href="http://alfapage.ru/" target="_blank" title="Создание сайтов в Якутске") alfapage