extends layout

block content
  include ./includes/header.jade
  .wrapper(ui-view)
  script(type="text/ng-template" id="popup")
    .menu
      .container
        .row
          .col-xs-12
            .menu-link
              a(ui-sref="project" ui-sref-active="active" ng-click="closeThisDialog()") О совете
            .menu-link
              a(ui-sref="processes" ui-sref-active="active" ng-click="closeThisDialog()") Пресс-центр
            .menu-link
              a(ui-sref="online" ui-sref-active="active" ng-click="closeThisDialog()") Конкурсы
            .menu-link
              a(ui-sref="online" ui-sref-active="active" ng-click="closeThisDialog()") Проекты
            .menu-link
              a(ui-sref="online" ui-sref-active="active" ng-click="closeThisDialog()") Новости
            .menu-link
              a(ui-sref="online" ui-sref-active="active" ng-click="closeThisDialog()") Мероприятия
