doctype html
html(ng-app="test" ng-cloak)
  head
    base(href='/')
    meta(charset='UTF-8')
    meta(name="viewport"    content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#ffffff")
    title Языковая политика Республики Саха (Якутия)
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel="icon"       sizes="192x192" href="favicon.png")
  body
    block content
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-resource.min.js")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-sanitize.min.js")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js")
    //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.2/js/ngDialog.min.js")
    script(type="text/javascript" src="app.js")
    script(type="text/javascript" src="script.js")