//- .online
//-   .online-cover
//-     iframe(src="https://www.youtube.com/embed/RItoP9weXG0" frameborder="0" allowfullscreen)
//-   .online-content
//-     .container
//-       .row
//-         .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
//-           h1.online-content-title Программа
//-           table.online-content-table
//-             tr
//-               td 21:00
//-               td Начало
//-             tr
//-               td 21:30
//-               td Сожжение Огня Детей Евразии
//-             tr
//-               td 21:45
//-               td Шоу-программа
//-             tr
//-               td 22:30
//-               td Завершение
//-           p В старину ценилось и почиталось это благодатное место у озерной глади. Очертания озера, его местоположение, глубина – всё задумала и сотворила природа так, чтобы оно стало для людей и животных источником жизни и благоденствия.
//-           p Традиции незыблемы. Воспетая в былинах полноводная кормилица, очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой в косу длинной гриве, стали местом поклонения божеству Джесегэй - так повелось издревле.
//-     .container-fluid
//-       .row
//-         img.img-responsive(src="../images/cover/cover-test.jpg", alt="")
//-     .container
//-       .row
//-         .col-xs-14.col-xs-offset-0.col-md-12.col-md-offset-1.col-lg-10.col-lg-offset-2
//-           img.img-responsive(src="../images/cover/cover-test.jpg", alt="")
//-     .container
//-       .row
//-         .col-xs-12.col-xs-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
//-           img.img-responsive(src="../images/cover/cover-test.jpg", alt="")
//-     .container
//-       .row
//-         .col-xs-12.col-xs-offset-1.col-sm-10.col-sm-offset-2.col-md-8.col-md-offset-3.col-lg-6.col-lg-offset-4
//-           img.img-responsive(src="../images/cover/cover-test.jpg", alt="")
//-     .container
//-       .row
//-         .col-xs-12.col-xs-offset-1.col-sm-12.col-sm-offset-1.col-md-10.col-md-offset-2.col-lg-8.col-lg-offset-3
//-           h1 Далеко-далеко за словесными горами в стране, гласных.
//-           p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Домах ты, путь она подпоясал рот речью дороге деревни необходимыми несколько. Назад речью путь родного свою скатился единственное свой переулка!
//-           h2 Далеко-далеко за словесными горами в стране, гласных.
//-           p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Домах ты, путь она подпоясал рот речью дороге деревни необходимыми несколько. Назад речью путь родного свою скатился единственное свой переулка!
//-           h3 Далеко-далеко за словесными горами в стране, гласных.
//-           p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Домах ты, путь она подпоясал рот речью дороге деревни необходимыми несколько. Назад речью путь родного свою скатился единственное свой переулка!
//-           h4 Далеко-далеко за словесными горами в стране, гласных.
//-           p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Домах ты, путь она подпоясал рот речью дороге деревни необходимыми несколько. Назад речью путь родного свою скатился единственное свой переулка!
//-           blockquote
//-             p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Над даль моей щеке. Одна языком вопрос вдали живет сбить? Щеке использовало переписывается, злых языкового, текста всемогущая последний. Над, лучше.
//-           p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Буквоград языком, имени переписывается парадигматическая, инициал предложения подпоясал жизни реторический ты о маленький. Рот, журчит свой встретил рекламных точках? Города.
//-           ul
//-             li Далеко-далеко за словесными горами в стране, гласных.
//-             li Далеко-далеко за словесными горами в стране, гласных.
//-             li Далеко-далеко за словесными горами в стране, гласных.
//-           p Традиции незыблемы.&nbsp;
//-             a(href="") Воспетая в былинах&nbsp;
//-             | полноводная&nbsp;
//-             a(href="") кормилица&nbsp;
//-             | , очертаниями похожая на дородную кобылицу, и заводь её, подобная заплетённой&nbsp;
//-             b в косу длинной гриве,&nbsp;
//-             i стали местом поклонения&nbsp;
//-             | божеству Джесегэй - так повелось издревле. В тех местах проводились скачки лучших жеребцов. Лучшие из лучших умельцев удостаивались чести варить здесь терпкий кумыс. Новорожденных жеребят пасли в укромной озерной пазухе со сладчайшей травой.