section#hero
  .hero-caption
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          h1 Языковая политика 
            span Республики Саха (Якутия)
          a.btn(href="") Разместить мероприятие
section#about
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3 Совет по языковой политике при Главе Республики Саха (Якутия)
        p Совет по языковой политике при Главе Республики Саха (Якутия) является консультативным органом при Главе Республики Саха (Якутия) по реализации языковой политики Республики Саха (Якутия) и создан с целью обеспечения взаимодействия органов государственной власти с институтами гражданского общества в процессе реализации языковой политики.
        a.btn(href="") О совете
section#quote
  .container
    .row
      .col-xs-8.col-xs-offset-2
        blockquote
          p Совет по языковой политике является консультативным органом при Главе Республики Саха (Якутия) по реализации языковой политики Республики Саха (Якутия) и создан с целью обеспечения взаимодействия органов государственной власти с институтами гражданского общества в процессе реализации языковой политики.
          footer Егор Афанасьевич Борисов
            cite Глава Республики Саха (Якутия)
section#projects
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center Наши проекты
        p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
    .row
      .col-xs-10.col-xs-offset-1
section#events
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center.white Мероприятия
        p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
section#news
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center Новости
        p В целях дальнейшего устойчивого и гармоничного развития этнокультурного и языкового многообразия, поддержки государственных и официальных языков в местах проживания коренных малочисленных народов Севера Республики Саха (Якутия).
    .row
      .col-xs-12
        .post-list
          figure.post-item
            img.img-responsive(src="images/cover/hero.jpg", alt="")
            figcaption
              h5 Прошел первый этап конкурса на соискание грантов Главы
              p.date 02 декабря 2016
          figure.post-item
            img.img-responsive(src="images/cover/hero.jpg", alt="")
            figcaption
              h5 Координационный совет при Главе РС(Я): в Стратегии социально-экономического развития Якутии до 2030 года
              p.date 02 декабря 2016
          figure.post-item
            img.img-responsive(src="images/cover/hero.jpg", alt="")
            figcaption
              h5 Вниманию предпринимателей!
              p.date 02 декабря 2016
          figure.post-item
            img.img-responsive(src="images/cover/hero.jpg", alt="")
            figcaption
              h5 Прошел первый этап конкурса на соискание грантов Главы
              p.date 02 декабря 2016
          figure.post-item
            img.img-responsive(src="images/cover/hero.jpg", alt="")
            figcaption
              h5 Координационный совет при Главе РС(Я): в Стратегии социально-экономического развития Якутии до 2030 года
              p.date 02 декабря 2016
          figure.post-item
            img.img-responsive(src="images/cover/hero.jpg", alt="")
            figcaption
              h5 Вниманию предпринимателей!
              p.date 02 декабря 2016
    .btn-center
      a.btn(href="") Все новости
section#competition
section#partners
  .row
    .col-xs-12.col-md-3
      img.img-responsive(src="", alt="")
    .col-xs-12.col-md-3
      img.img-responsive(src="", alt="")
    .col-xs-12.col-md-3
      img.img-responsive(src="", alt="")
    .col-xs-12.col-md-3
      img.img-responsive(src="", alt="")
section#feedback
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center.white Обращение граждан
        p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
        form.row
          .col-xs-8.col-xs-offset-2
            h4 Связаться с нами
            input(type="text" placeholder="Полное имя")
            input(type="tel" placeholder="Телефон")
            input(type="email" placeholder="Эл. почта")
            textarea(name="" rows="5" placeholder="Сообщение")
            button.btn(type="submit") Отправить
footer