section#hero
  .hero-caption
    .container
      .row
        .col-xs-12.col-lg-8.col-lg-offset-2
          h1 Языковая политика
            br
            span Республики Саха (Якутия)
          a.btn(href="") Разместить мероприятие
section#about
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3 Совет по языковой политике при Главе Республики Саха (Якутия)
          p Совет по языковой политике при Главе Республики Саха (Якутия) является консультативным органом при Главе Республики Саха (Якутия) по реализации языковой политики Республики Саха (Якутия) и создан с целью обеспечения взаимодействия органов государственной власти с институтами гражданского общества в процессе реализации языковой политики.
        a.btn.btn-sm(href="") О совете
section#quote
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        blockquote
          .blockquote-img
            .blockquote-img-container(style="background: url(../images/borisov.png)")
          .blockquote-text
            p Совет по языковой политике является консультативным органом при Главе Республики Саха (Якутия) по реализации языковой политики Республики Саха (Якутия) и создан с целью обеспечения взаимодействия органов государственной власти с институтами гражданского общества в процессе реализации языковой политики.
            footer Егор Афанасьевич Борисов
              cite Глава Республики Саха (Якутия)
              img(src="images/borisov-sign.png", alt="")
section#projects
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center Наши проекты
          p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1
        a.project(href="")
          article
            h2 Конкурс «Якутия зовет!»
            p Конкурс направлен на стимулирование предпринимательской активности среди предпринимателей
        a.project(href="")
          article
            h2 Образовательные программы лекции, семинары, тренинги и мастер-классы
            p Конкурс направлен на стимулирование предпринимательской активности среди предпринимателей
    .btn-center
      a.btn.btn-sm(href="") Все проекты
section#events
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center.white Мероприятия
          p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
    .row
      .col-xs-12
        //- .events-carousel(ng-controller="carouselCtrl as ctrl")
        //-   ui-carousel(slides="ctrl.fade.slides",
        //-               slides-to-show="1",
        //-               slides-to-scroll="1",
        //-               fade="true",
        //-               dots="false")
        //-     carousel-item
        //-       .image
        //-         img(src="{{ item }}")
section#news
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center Новости
          p В целях дальнейшего устойчивого и гармоничного развития этнокультурного и языкового многообразия, поддержки государственных и официальных языков в местах проживания коренных малочисленных народов Севера Республики Саха (Якутия).
    .row
      .col-xs-12
        .post-list
          figure.post-item
            a(href="").post-item-cover
              .post-bg
            figcaption
              h5
                a(href="") Прошел первый этап конкурса на соискание грантов Главы
              p.date 02 декабря 2016
          figure.post-item
            a(href="").post-item-cover
              .post-bg
            figcaption
              h5
                a(href="") Координационный совет при Главе РС(Я): в Стратегии социально-экономического развития Якутии до 2030 года
              p.date 02 декабря 2016
          figure.post-item
            a(href="").post-item-cover
              .post-bg
            figcaption
              h5
                a(href="") Вниманию предпринимателей!
              p.date 02 декабря 2016
          figure.post-item
            a(href="").post-item-cover
              .post-bg
            figcaption
              h5
                a(href="") Прошел первый этап конкурса на соискание грантов Главы
              p.date 02 декабря 2016
          figure.post-item
            a(href="").post-item-cover
              .post-bg
            figcaption
              h5
                a(href="") Координационный совет при Главе РС(Я): в Стратегии социально-экономического развития Якутии до 2030 года
              p.date 02 декабря 2016
          figure.post-item
            a(href="").post-item-cover
              .post-bg
            figcaption
              h5
                a(href="") Вниманию предпринимателей!
              p.date 02 декабря 2016
    .btn-center
      a.btn.btn-sm(href="") Все новости
section#competition
section#partners
  .container
    .row
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(src="images/partners/aiart.png", alt="aiart")
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(src="images/partners/aiart.png", alt="aiart")
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(src="images/partners/aiart.png", alt="aiart")
      .col-xs-6.col-md-3
        a(href="")
          img.img-responsive(src="images/partners/aiart.png", alt="aiart")
section#feedback
  .container
    .row
      .col-xs-12.col-lg-8.col-lg-offset-2
        article
          h3.title-center.white Обращение граждан
          p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
        form
          .row
            .col-xs-12.col-sm-8.col-sm-offset-2
              h4 Связаться с нами
              input(type="text" name="name" placeholder="Полное имя" ng-model="name" required="required")
              input(type="tel" name="phone" placeholder="Телефон" ng-model="phone" required="required")
              input(type="email" name="email" placeholder="Эл. почта" ng-model="email" required="required")
              textarea(rows="5" name="message" placeholder="Сообщение" required="required")
              button.btn.btn-sm(type="submit") Отправить
footer