section#hero
  .hero-caption
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          h1 Языковая политика 
            span Республики Саха (Якутия)
          a.btn(href="") Разместить мероприятие
section#about
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3 Совет по языковой политике при Главе Республики Саха (Якутия)
        p Совет по языковой политике при Главе Республики Саха (Якутия) является консультативным органом при Главе Республики Саха (Якутия) по реализации языковой политики Республики Саха (Якутия) и создан с целью обеспечения взаимодействия органов государственной власти с институтами гражданского общества в процессе реализации языковой политики.
        a.btn(href="") О совете
section#quote
  .container
    .row
      .col-xs-8.col-xs-offset-2
        blockquote
          p Совет по языковой политике является консультативным органом при Главе Республики Саха (Якутия) по реализации языковой политики Республики Саха (Якутия) и создан с целью обеспечения взаимодействия органов государственной власти с институтами гражданского общества в процессе реализации языковой политики.
          footer Егор Афанасьевич Борисов
            cite Глава Республики Саха (Якутия)
section#projects
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center Наши проекты
        p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
    .row
      .col-xs-10.col-xs-offset-1
section#events
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center Мероприятия
        p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
section#news
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center Новости
        p В целях дальнейшего устойчивого и гармоничного развития этнокультурного и языкового многообразия, поддержки государственных и официальных языков в местах проживания коренных малочисленных народов Севера Республики Саха (Якутия).
section#competition
section#partners
section#feedback
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h3.title-center Обращение граждан
        p Определяет приоритетные направления языковой политики Республики Саха (Якутия) в сфере сохранения, изучения, развития и использования государственных и официальных языков Республики Саха (Якутия)
        form 
          input(type="text" placeholder="Полное имя")
          input(type="tel" placeholder="Телефон")
          input(type="email" placeholder="Эл. почта")
          textarea(name="" placeholder="Сообщение")
footer