html,
body
{
  font-size: 16px;

  height: 100%;

  color: #333;
}
html
{
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-selection
{
  color: rgba(0, 0, 0, .87);
  background-color: #cce2ff;
}
::-moz-selection
{
  color: rgba(0, 0, 0, .87);
  background-color: #cce2ff;
}
::selection
{
  color: rgba(0, 0, 0, .87);
  background-color: #cce2ff;
}
::-webkit-input-placeholder
{
  color: #000;
}
:-moz-placeholder
{
  color: #000;
}
::-moz-placeholder
{
  color: #000;
}
:-ms-input-placeholder
{
  color: #000;
}
::placeholder
{
  color: #000;
}
article
{
  margin: 0 0 40px;
}
figure
{
  margin: 0;
}
.header
{
  position: absolute;
  top: 40px;
  left: 0;

  width: 100vw;
  .navbar
  {
    display: table;

    width: 100%;
    &-bento
    {
      float: right;

      margin: 17px 51px 17px 17px;
      padding: 0;

      cursor: pointer;
      vertical-align: middle;
      position: relative;
      z-index: 10000;
      &.active
      {
        z-index: 10001;
        span
        {
          &:after
          {
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
          }
          &:before
          {
            -webkit-transform: rotate(135deg);
               -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                 -o-transform: rotate(135deg);
                    transform: rotate(135deg);
          }
          &:hover
          {
            &:after,
            &:before
            {
              bottom: 14px;
            }
          }
        }
      }
      span
      {
        position: relative;

        display: block;

        width: 32px;
        height: 32px;

        will-change: transform, bottom;
        &:hover
        {
          &:after
          {
            bottom: 20px;
          }
          &:before
          {
            bottom: 8px;
          }
        }
        &:after,
        &:before
        {
          position: absolute;
          bottom: 14px;

          display: block;

          width: 32px;
          height: 4px;

          content: '';
          -webkit-transition: transform 160ms ease-in-out, bottom 160ms ease-in-out;
             -moz-transition: transform 160ms ease-in-out, bottom 160ms ease-in-out;
               -o-transition: transform 160ms ease-in-out, bottom 160ms ease-in-out;
                  transition: transform 160ms ease-in-out, bottom 160ms ease-in-out;

          background: #fff;
        }
      }
    }
  }
}
.menu
{
  text-align: center;
  &-link
  {
    font: 700 1.75rem/2 'PT Sans', sans-serif; /* 28px/56px */

    display: inline-block;

    width: 100%;
    &:last-of-type {
      margin: 0 0 40px;
    }
    a
    {
      position: relative;

      display: inline-block;

      text-decoration: none;

      color: #fff;
      &:hover:after,
      &.active:after
      {
        width: 100%;
      }
      &:after
      {
        position: absolute;
        bottom: 10px;
        left: 0;

        width: 0;
        height: 2px;

        content: '';
        -webkit-transition: width .1s ease-in-out;
           -moz-transition: width .1s ease-in-out;
             -o-transition: width .1s ease-in-out;
                transition: width .1s ease-in-out;

        background: #fff;

        will-change: width;
      }
    }
  }
}
.btn
{
  font: 700 1rem/1.25 'PT Sans', sans-serif; /* 16px/20px */

  display: inline-block;

  padding: 12px 30px;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: normal !important;
  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  border: none;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  &.btn-sm
  {
    padding: 6px 33px;
  }
  &.btn-lang
  {
    background: transparent;
    color: #fff;
    font-weight: 400;
  }
  &.btn-default
  {
    background-color: #2922ec;
    transition: background-color .08s ease-in-out, box-shadow .08s ease-in-out;
    &:hover
    {
      background-color: #241ed0;
      box-shadow: 0 0 0 3px #241ed0;
    }
    &:active
    {
      background-color: #0f09a7;
      box-shadow: 0 0 0 3px #0f09a7;
    }
  }
}
.btn-close {
  cursor: pointer;
  position: relative;
  z-index: 10002;
  left: 100%;
  span {
    position: relative;

    display: block;
    
    width: 32px;
    height: 32px;
    &:before,
    &:after {
      position: absolute;
      bottom: 14px;

      display: block;

      width: 32px;
      height: 4px;

      content: '';

      background: #fff;
    }
    &:after
    {
      -webkit-transform: rotate(45deg);
         -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
           -o-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    &:before
    {
      -webkit-transform: rotate(135deg);
         -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
           -o-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
}
.btn-center
{
  text-align: center;
}
.btn-right
{
  text-align: right;
  margin: 80px 0 40px
}
.footer
{
  position: relative;

  height: 150px;
  margin: -150px 0 0;
  padding: 50px 0;

  color: #fff;
  background: rgba(0,0,0,.4);
  .copyright
  {
    float: left;
    p
    {
      margin: 0;
      &:nth-of-type(2)
      {
        margin: 0 0 20px 20px;
      }
    }
  }
  .creator
  {
    position: relative;

    float: right;

    padding: 0 100px 0 0;
    padding-top: 4px;
    a
    {
      position: absolute;
      top: -2px;
      right: 0;

      display: block;

      width: 90px;
      height: 40px;

      text-indent: -9999px;

      background: url(../images/alfapage.svg) right top no-repeat;
      -moz-background-size: 90px auto;
        -o-background-size: 90px auto;
           background-size: 90px auto;
    }
  }
}
.card 
{
  text-align: left;
  display: block;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  color: #000;
  position: relative;
  height: 450px;
  &:before,
  &:after 
  {
    content: " ";
    display: table;
  }
  .card-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 39.67391304347826%;
    height: 100%;
    float: left;
    border-radius: 6px 0 0 6px;
    padding: 30px;
  }
  .card-caption {
    position: relative;
    left: 39.67391304347826%;
    padding: 15px 30px;
    width: 60.32608695652174%;
    float: left;
    p 
    {
      margin: 40px 0 20px;
      &:last-of-type 
      {
        height: 148px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    h4 
    {
      margin: 20px 0 35px;
    }
  }
}
.disable-hover,
.disable-hover *
{
  pointer-events: none !important;
}
.zero-hack
{
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
}
@media (max-width: 575px)
{
  .card {
    height: auto;
    .card-bg {
      position: static;
      height: 400px;
      width: 100%;
      float: none;
      border-radius: 6px 6px 0 0;
    }
    .card-caption {
      width: 100%;
      float: none;
      left: 0;
    }
  }
  .footer
  {
    height: 180px;
    margin: -180px 0 0;
    padding: 25px;

    text-align: center;
    .copyright
    {
      float: none;
      p
      {
        &:nth-of-type(2)
        {
          margin: 0 0 20px;
        }
      }
    }
    .creator
    {
      float: none;
      a
      {
        left: 50%;
      }
    }
  }
}
@media (max-width: 767px) 
{
  html,
  body
  {
    font-size: 14px;
  }
}