section
{
  padding: 80px 0;
}
#hero
{
  position: relative;

  display: table;

  width: 100%;
  height: 100vh;
  padding: 0;
  .hero-caption
  {
    display: table-cell;

    width: 100%;
    height: 100%;
    padding: 200px 0;

    text-align: center;
    vertical-align: middle;

    color: #fff;
  }
}
#projects
{
  .project
  {
    position: relative;

    display: block;

    width: 100%;
    height: 330px;
    margin: 0 0 30px;

    color: #fff;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    &:last-child
    {
      margin: 0 0 60px;
    }
    article
    {
      position: absolute;
      right: 15%;
      bottom: 0;
      left: 5%;
      h2
      {
        margin: 0 0 20px;
      }
    }
  }
}
#events
{
  text-align: center;

  color: #fff;
  .add-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    p {
      margin: 40px 0 80px;
    }
  }
  .card 
  {
    text-align: left;
    display: block;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    color: #000;
    position: relative;
    height: 450px;
    &:before,
    &:after 
    {
      content: " ";
      display: table;
    }
    .card-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 39.67391304347826%;
      height: 100%;
      float: left;
    }
    .card-caption {
      position: relative;
      left: 39.67391304347826%;
      padding: 15px 30px;
      width: 60.32608695652174%;
      float: left;
      p 
      {
        margin: 40px 0 20px;
        &:last-of-type 
        {
          height: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      h4 
      {
        margin: 20px 0 35px;
      }
    }
  }
}
#news
{
  .post-list
  {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    margin: 40px 0 0;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    .post-item
    {
      width: 33.33333333333333%;
      margin: 0 0 40px;
      padding: 0 15px;

      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
      will-change: transform;
      &-cover
      {
        position: relative;

        display: block;
        overflow: hidden;

        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        &:hover
        {
          .post-bg
          {
            -webkit-transform: scale(1.4);
               -moz-transform: scale(1.4);
                -ms-transform: scale(1.4);
                 -o-transform: scale(1.4);
                    transform: scale(1.4);
          }
        }
        .post-bg
        {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;

          width: 100%;
          height: 100%;

          -webkit-transition: .5s ease-in-out;
             -moz-transition: .5s ease-in-out;
               -o-transition: .5s ease-in-out;
                  transition: .5s ease-in-out;
        }
      }
      h5
      {
        margin: 20px 0;
        a
        {
          text-decoration: none;

          color: inherit;
        }
      }
    }
  }
}
#competition
{
  padding: 0 15px;

  color: #fff;
  .competition
  {
    position: relative;

    float: left;

    width: 50%;
    height: 0;
    &:nth-of-type(1)
    {
      height: 720px;
    }
    &:nth-of-type(2)
    {
      height: 360px;
    }
    &:nth-of-type(3)
    {
      height: 360px;
    }
    &-caption
    {
      position: absolute;
      right: 10%;
      bottom: 15%;
      left: 10%;
      h3 {
        margin: 0 0 20px;
      }
    }
  }
}
#partners
{
  padding: 30px;
  img
  {
    margin: 0 auto;

    opacity: .8;

    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
            filter: grayscale(100%);
    -webkit-filter: gray;
            filter: gray;
    will-change: opacity;
    &:hover
    {
      opacity: 1;

      -webkit-filter: none;
              filter: none;
    }
  }
}
#feedback
{
  padding: 80px 0 300px;

  text-align: center;

  color: #fff;
  form
  {
    padding: 40px;

    color: #000;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: #fff;
    h4
    {
      margin: 0 0 20px;
    }
  }
}
@media (max-width: 991px)
{
  #news
  {
    .post-list
    {
      .post-item
      {
        width: 50%;
      }
    }
  }
  #projects .project article p
  {
    display: none;
  }
}
@media (max-width: 767px)
{
  #hero .hero-caption
  {
    padding: 70px 0;
  }
  #competition {
    .competition
    {
      width: 100%;
    }
  }
  #news
  {
    .post-list
    {
      .post-item
      {
        width: 100%;
      }
    }
  }
}
@media (max-width: 575px)
{
  #events {
    .card {
      .card-bg {
        position: static;
        width: 100%;
        float: none;
      }
      .card-caption {
        width: 100%;
        float: none;
        top: -100%;
        left: 0;
        color: #fff;
      }
    }
  }
}